.navbar{
    border-bottom: solid 1px #E2E5E5;
    background-color: white;
    box-shadow: 1px 1px 1px #E2E5E5;
}

.nav-item{
    margin-right: 30px;
}

.nav-link{
    font-weight: bold;
}

@media(max-width: 991px){
    .d-flex{
        margin-top: 15px;
    }

    .d-flex, .nav-item{
        margin-left: 19px;
    }
}